In [4]:
import pandas as pd

In [6]:
meal_average_df = pd.read_csv("data/profileAverage.csv", header=None)
meal_average_df

         0    1    2    3    4    5    6    7    8    9
0      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
10075  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10076  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10077  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10078  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10079  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[10080 rows x 10 columns]

In [7]:
meal_extreme_df = pd.read_csv("data/profileExtreme.csv", header=None)
meal_extreme_df

         0    1    2    3    4    5    6    7    8    9
0      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
10075  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10076  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10077  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10078  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10079  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[10080 rows x 10 columns]

In [10]:
for i in range(10):
    meal_average_df[i].to_csv("data/meal_profile_average_"+str(i+1)+".csv", index=False, header=None)
    meal_extreme_df[i].to_csv("data/meal_profile_extreme_"+str(i+1)+".csv", index=False, header=None)